<div class="Navbar">
    <div class="Navbar__Link Navbar__Link-brand">
       Menu
     </div>
     <div (click)="classToggle()" class="Navbar__Link Navbar__Link-toggle">
       <span class="material-icons material-icons--color">
         menu
       </span>
     </div>
   <nav class="Navbar__Items" [ngClass]="{'Navbar__ToggleShow': showNavItems}">
     <ul>
      <li class="Navbar__Link"><a routerLink="/movies" routerLinkActive="is-active">Películas</a></li>
      <li class="Navbar__Link"><a routerLink="/actors" routerLinkActive="is-active">Actores</a></li>
      <li class="Navbar__Link"><a routerLink="/companies" routerLinkActive="is-active">Estudios</a></li>
    </ul>
   </nav>

</div>

<router-outlet></router-outlet>
