
h1 {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 100%;
    padding: 15px 0;
    border-radius: 15px;
    border: 1px solid black;
    margin: 10px 20px;
  }

  .card__img img {
    width: 300px;
    height: 300px;
    padding: 15px;
  }

  .card__title {
    font-weight: 500;
    padding: 0 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }

  .card__genre {
    margin:0;
    padding:0;
    list-style-type: none;
    padding-top:15px;
    margin-top: 15px;

    li {
      display:inline;
      padding: 7px;
      margin-right: 5px;
      border-radius: 15px;
      border: 1px solid black;
    }

  }

  .card-container {
    //background: rgba(255, 0, 0, 0.432);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 100%;
  }

  .fixedbutton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 25px;
    background-color: #e3d4a6;
    border: 1px solid black;
    .material-icons--color {
      color: black ;
      text-align: center;
      font-size: 50px;
    }
  }

  @media screen and (min-width: 600px) {
    .card {
      flex: 40%;
    }
    .card__img img {
      width: 260px;
    }
    .card__title {
      //font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 1.2rem;
    }
    .card__desc {
      font-weight: 400;
      line-height: 1rem;
    }
    .card-container {
      //background: rgba(255, 0, 0, 0.432);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex: 100%;
    }
  }
