<h1>Películas</h1>
<div *ngIf="moviesLoading" class="lds-dual-ring"></div>
<div class="card-container">
  <ng-container *ngIf="loading; else errMovies">
    <div class="card-container__card" *ngFor="let movie of movies; let i = index">
      <h4 class="card__title">{{(movie?.title) || '-'}}</h4>
      <div class="card__img"><img [src]="movie.poster" alt="Portada de pelicula"></div>
      <ul class="card__genre">
        <li *ngFor="let genre of movie.genre;">{{'#'+genre}}</li>
      </ul>
    </div>

  </ng-container>
  <ng-template #errMovies>
    <h3>{{errorMessage}}</h3>
  </ng-template>
</div>

<a class="fixedbutton" routerLink="newMovie">
  <span class="material-icons material-icons--color">
    add
  </span>
</a>

