/* You can add global styles to this file, and also import other style files */

// estilos para editar y añadir peliculas

h1 {
  text-align: center;
}

.form {
  width: 50%;
  margin: auto;
  .form-control {

    label {
      margin-bottom: 5px;
    }

    &--border {
      border-bottom: 1px solid black;
    }


    &__added-genre, &__added-actor {
        position: relative;
        cursor: pointer;
        padding: 10px 10px;
    }

    &__added-genre {
      left: -40px;
      top: -35px;

    }

    &__added-actor {
      left: -40px;
      top: -35px;
    }

    &__card-genre {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin:0;
      padding:0;
      list-style-type: none;
      margin-bottom: 10px;

      li {
        display:inline;
        padding: 7px;
        margin: 10px 10px;
        border-radius: 15px;
        border: 1px solid black;
      }
    }

    border: 0;
  }

  .submit--center {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .submit-btn {
    background: green;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 20px;
    &:hover {
        background: rgb(0, 84, 0);
        border: 1px solid rgb(12, 0, 0);
    }
  }
  /*.submit-btn-disabled {
      background:rgba(128, 128, 128, 0.366);
      border: 1px solid rgba(128, 128, 128, 0.366);
      &:hover {
          background: rgba(128, 128, 128, 0.366);
          border: 1px solid grey;
      }
  }*/

}






@media only screen and (max-width: 768px) {
    // styles navbar
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
    }
    .Navbar__Items {
        display: none !important;
    }

    .Navbar__Items--right {
      margin-left: 0;
    }

    .Navbar__ToggleShow {
        display: flex !important;
    }

    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial !important;
        position: absolute;
        cursor: pointer;
    }
  }


  .lds-dual-movie {
    display: inline-block;
    margin-bottom: -5px;
    margin-left: 3px;
  }

  .lds-dual-movie:after {
    font-family: "Material Icons";
    content: "\e02c";
    //display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    /*border-radius: 50%;
    border: 2px solid #000;
    border-color: #000 transparent #000 transparent;*/
    -webkit-animation: lds-dual-ring 2s linear infinite;
    animation: lds-dual-ring 2s linear infinite;
  }


  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

