/* You can add global styles to this file, and also import other style files */

@media only screen and (max-width: 768px) {
    // styles navbar
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
    }
    .Navbar__Items {
        display: none !important;
    }

    .Navbar__Items--right {
      margin-left: 0;
    }

    .Navbar__ToggleShow {
        display: flex !important;
    }

    .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial !important;
        position: absolute;
        cursor: pointer;
    }
  }


  .lds-dual-ring {
    display: inline-block;
    margin-bottom: -5px;
    margin-left: 3px;
  }

  .lds-dual-ring:after {
    font-family: "Material Icons";
    content: "\e02c";
    //display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    /*border-radius: 50%;
    border: 2px solid #000;
    border-color: #000 transparent #000 transparent;*/
    -webkit-animation: lds-dual-ring 2s linear infinite;
    animation: lds-dual-ring 2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

