<h1>Nueva película</h1>
<form class="form">
  <div class="form-control form-control--border">
    <label for="titulo">Titulo</label>
    <input type="text" class="form-control" id="titulo" aria-describedby="titulo" placeholder="Titulo">
  </div>
  <div class="form-control form-control--border">
    <label for="poster">Póster (url)</label>
    <input type="text" class="form-control" id="poster" aria-describedby="poster" placeholder="Póster (url)">
  </div>
  <div class="form-control form-control--border">
    <label for="genre">Géneros</label>
    <input type="text" class="form-control" id="genre" aria-describedby="genre" placeholder="Añadir un género">
  </div>
  <div class="form-control form-control--border">
    <label for="actors">Actores</label>
    <input type="text" class="form-control" id="actors" aria-describedby="actors" placeholder="Selecciona un actor">
  </div>

  <div class="form-control form-control--border">
    <label for="year">Año</label>
    <input type="number" class="form-control" id="year" aria-describedby="year" placeholder="Año">
  </div>
  <div class="form-control form-control--border">
    <label for="duration">Duración</label>
    <input type="number" class="form-control" id="duration" aria-describedby="duration" placeholder="Duración">
  </div>
  <div class="form-control form-control--border">
    <label for="imdbRating">Puntuación</label>
    <input type="number" class="form-control" id="imdbRating" aria-describedby="imdbRating" placeholder="Puntuación">
  </div>
  <button type="submit" class="btn btn-secondary submit--center">Añadir película</button>
</form>
